{% load external_url from constants_tags %}
<footer id="footer" class="static-header-footer">
  <nav class="container">
    <div class="link-group"><img id="footer-dit-logo" src="{% static 'images/DfIT_WHITE_AW.png %}" height="75px"/><img id="footer-eig-logo" src="{% static 'images/eig-logo-stacked.svg' %}" height="75px"/>
    </div>
    <div class="link-group">
      <p id="footer-links-2" class="list-heading">Export readiness</p>
      <ul aria-labelledby="footer-links-2" class="navigation">
        <li><a href="{% external_url 'new_to_exporting' %}">I'm new to exporting</a>
        </li>
        <li><a href="{% external_url 'occasional_exporter' %}">I export occasionally</a>
        </li>
        <li><a href="{% external_url 'regular_exporter' %}">I'm a regular exporter</a>
        </li>
      </ul>
    </div>
    <div class="link-group">
      <p id="footer-links-3" class="list-heading">Guidance</p>
      <ul aria-labelledby="footer-links-3" class="navigation">
        <li><a href="{% external_url 'guidance_market_research' %}">Market research</a>
        </li>
        <li><a href="{% external_url 'guidance_customer_insight' %}">Customer insight</a>
        </li>
        <li><a href="{% external_url 'guidance_finance' %}">Finance</a>
        </li>
        <li><a href="{% external_url 'guidance_business_planning' %}">Business planning</a>
        </li>
        <li><a href="{% external_url 'guidance_getting_paid' %}">Getting paid</a>
        </li>
        <li><a href="{% external_url 'guidance_operations_and_compliance' %}">Operations and compliance</a>
        </li>
      </ul>
    </div>
    <div class="link-group">
      <p id="footer-links-4" class="list-heading">Services</p>
      <ul aria-labelledby="footer-links-4" class="navigation">
        <li><a href="{% external_url 'services_fab' %}">Find a buyer</a>
        </li>
        <li><a href="{% external_url 'services_soo' %}">Selling online overseas</a>
        </li>
        <li><a href="{% external_url 'services_exopps' %}">Export opportunities</a>
        </li>
        <li><a href="{% external_url 'services_get_finance' %}">Get finance</a>
        </li>
        <li><a href="{% external_url 'services_events' %}">Events</a>
        </li>
      </ul>
    </div>
  </nav>
<div class="site-links container">
  <ul class="navigation">
    <li><a href="{% external_url 'great_home' %}">Part of great.gov.uk</a>
    </li>
    <li><a href="{% external_url 'info_about' %}">About</a>
    </li>
    <li><a href="{% external_url 'info_contact_us' %}">Contact us</a>
    </li>
    <li><a href="{% external_url 'info_privacy_and_cookies' %}">Privacy and cookies</a>
    </li>
    <li><a href="{% external_url 'info_terms_and_conditions' %}">Terms and conditions</a>
    </li>
    <li><a href="{% external_url 'info_dit' %}">Department for International Trade</a>
    </li>
  </ul>
</div>
<div class="global-footer">
  <p class="container"><a href="https://www.gov.uk/"><img src="/static/images/hm_government_logo_horizontal.svg" alt="HM Government"/></a><span>&copy; Crown copyright 2017. All rights reserved.</span>
  </p>
</div>
</footer>
