{% load static %}
{% load trans from i18n %}
<footer role="contentinfo">
  <div class="footer background--great-blue soft--top">
      <div class="outer-container">
        <div class="footer-section">
          <div class="col-8">
            <a href="{{ header_footer_urls.great_export_home }}" title="Go to the Exporting is Great homepage">
              <img src="{% static 'images/EiG-logo-stacked.svg' %}" alt="Exporting is Great logo" class="footer-logo">
            </a>
          </div>

          <div class="col-4">
            <ul class="footer-links footer-links--border">
              <li class="push-half--bottom"><a href="{{ header_footer_urls.new_to_exporting }}" title="New to exporting">{% trans 'New to exporting' %}</a></li>
              <li class="push-half--bottom"><a href="{{ header_footer_urls.occasional_exporter }}" title="Occasional exporter">{% trans 'Occasional exporter' %}</a></li>
              <li><a href="{{ header_footer_urls.regular_exporter }}" title="Regular exporter">{% trans 'Regular exporter' %}</a></li>
            </ul>
          </div>
        </div>

        <div class="footer-section footer-section-right">

          <div class="col-6">
            <ul class="footer-links footer-middle-section">
              <li class="push-half--bottom"><a href="{{ header_footer_urls.services_exopps }}" title="Export opportunities">{% trans 'Export opportunities' %}</a></li>
              <li class="push-half--bottom"><a href="{{ header_footer_urls.services_fab }}" title="Find a buyer">{% trans 'Find a buyer' %}</a></li>
              <li class="push-half--bottom"><a href="{{ header_footer_urls.services_soo }}" title="Selling online overseas">{% trans 'Selling online overseas' %}</a></li>
              <li class="push-half--bottom"><a href="{{ header_footer_urls.services_get_finance }}" title="Get Finance">{% trans 'Get Finance' %}</a></li>
              <li class=""><a href="{{ header_footer_urls.services_events }}" title="Events">{% trans 'Events' %}</a></li>
            </ul>
          </div>

          <div class="col-6">
            <ul class="footer-links footer-links--border">
              <li class="push-half--bottom"><a href="{{ header_footer_urls.info_about }}" title="About great.gov.uk">{% trans 'About great.gov.uk' %}</a></li>
              <li class="push-half--bottom"><a href="{{ header_footer_urls.info_contact_us }}" title="">{% trans 'Contact us' %}</a></li>
              <li class="push-half--bottom"><a href="{{ header_footer_urls.info_privacy_and_cookies }}" title="Privacy and Cookies">{% trans 'Privacy &amp; cookies' %}</a></li>
              <li class="push-half--bottom"><a href="{{ header_footer_urls.info_terms_and_conditions }}" title="Terms and conditions">{% trans 'Terms &amp; conditions' %}</a></li>
              <li><a href="{{ header_footer_urls.info_dit }}" title="Department for International Trade">{% trans 'Department for International Trade' %}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="outer-container">
        <div class="footer-bottom">
          <div class="navigation-strip">
            <ul class="list-inline list-separators">
              <li class="float--left soft--right"><a class="" href="https://www.gov.uk/" title="hm government"><img src="{% static 'images/hm-gov-horizontal.svg' %}"></a></li>
              <li class="float--left soft--left footer-links--border"><a class="link--grey"  href="https://www.great.gov.uk/" title="part of great.gov.uk">{% trans 'Part of' %} <strong>great.gov.uk</strong></a></li>
            </ul>
          </div>
          <div class="footer-copy font-light-grey font-xsmall">
            <p>&copy; {% trans 'Crown copyright' %} {% now "Y" %}. {% trans 'All rights reserved.' %}</p>
          </div>
        </div>
      </div>
  </div>
</footer>
