{% load static %}
<footer id="footer" class="static-header-footer">
  <nav class="container">
    <div class="link-group"><img id="footer-dit-logo" src="{% static 'images/DfIT_WHITE_AW.png' %}" height="70px" alt="Department for International Trade"/><img id="footer-eig-logo" src="{% static 'images/eig-logo-stacked.svg' %}" height="82px" alt="Exporting is Great"/>
    </div>
    <div class="link-group">
      <p id="footer-export-readiness-links" class="list-heading">Export readiness</p>
      <ul aria-labelledby="footer-export-readiness-links" class="navigation">
        <li><a href="{{ header_footer_urls.new_to_exporting }}">I&#39;m new to exporting</a>
        </li>
        <li><a href="{{ header_footer_urls.occasional_exporter }}">I export occasionally</a>
        </li>
        <li><a href="{{ header_footer_urls.regular_exporter }}">I&#39;m a regular exporter</a>
        </li>
      </ul>
    </div>
    <div class="link-group">
      <p id="footer-guidance-links" class="list-heading">Guidance</p>
      <ul aria-labelledby="footer-guidance-links" class="navigation">
        <li><a href="{{ header_footer_urls.guidance_market_research }}">Market research</a>
        </li>
        <li><a href="{{ header_footer_urls.guidance_customer_insight }}">Customer insight</a>
        </li>
        <li><a href="{{ header_footer_urls.guidance_finance }}">Finance</a>
        </li>
        <li><a href="{{ header_footer_urls.guidance_business_planning }}">Business planning</a>
        </li>
        <li><a href="{{ header_footer_urls.guidance_getting_paid }}">Getting paid</a>
        </li>
        <li><a href="{{ header_footer_urls.guidance_operations_and_compliance }}">Operations and compliance</a>
        </li>
      </ul>
    </div>
    <div class="link-group">
      <p id="footer-services-links" class="list-heading">Services</p>
      <ul aria-labelledby="footer-services-links" class="navigation">
        <li><a href="{{ header_footer_urls.services_fab }}">Create an export profile</a>
        </li>
        <li><a href="{{ header_footer_urls.services_soo }}">Sell online overseas</a>
        </li>
        <li><a href="{{ header_footer_urls.services_exopps }}">Find export opportunities</a>
        </li>
        <li><a href="{{ header_footer_urls.services_get_finance }}">Get finance</a>
        </li>
        <li><a href="{{ header_footer_urls.services_events }}">Attend events</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="site-links container">
    <ul class="navigation">
      <li><a href="{{ header_footer_urls.info_about }}" class="">About</a>
      </li>
      <li><a href="{{ header_footer_urls.info_contact_us }}" class="">Contact us</a>
      </li>
      <li><a href="{{ header_footer_urls.info_privacy_and_cookies }}" class="">Privacy and cookies</a>
      </li>
      <li><a href="{{ header_footer_urls.info_terms_and_conditions }}" class="">Terms and conditions</a>
      </li>
      <li><a href="{{ header_footer_urls.info_dit }}" class="">Department for International Trade on GOV.UK</a>
      </li>
    </ul>
  </div>
  <div class="global-footer">
    <p class="container"><span>&copy; Crown copyright 2017. All rights reserved.</span>
    </p>
  </div>
</footer>
