{% load static %}
<header id="header" class="static-header-footer"><a id="skip-link" href="#content" class="verbose">Skip to main content</a>
  <div id="header-bar">
    <div class="container top-bar">
      <div class="account-locale-links">
        <ul aria-label="Account links" class="navigation account-links">
        {% block login_state %}
        {% if not sso_is_logged_in %}
          <li class="anonymous"><a id="header-register-link" href="{{ sso_register_url }}" class="register">Register</a></li>
          <li class="anonymous"><a id="header-sign-in-link" href="{{ sso_login_url }}" class="signin">Sign in</a></li>
        {% else %}
          <li class="authenticated"><a id="header-profile-link" href="{{ sso_profile_url }}" class="profile">Profile</a></li>
          <li class="authenticated"><a id="header-sign-out-link" href="{{ sso_logout_url }}" class="signout">Sign out</a></li>
        {% endif %}
        {% endblock %}
        </ul><span class="greeting"></span>
      </div>
    </div>
    <div class="container">
      <a id="header-dit-logo" class="dit-logo" href="{{ header_footer_urls.great_export_home }}">
        <img src="{% static 'images/DfIT_WHITE_AW.png' %}" alt="Home">
      </a>
    </div>
  </div>
  <div id="header-menu">
    <div class="container">
      <nav id="menu">
        <ul class="navigation level-1">
          <li>
            <a href="{{ header_footer_urls.great_export_home }}" id="header-home-link">Home</a>
          </li>
          <li>
            <a href="{{ header_footer_urls.custom_page }}" id="header-custom-page-link">Your export journey</a>
          </li>
          <li><a href="#export-readiness-links-list" id="export-readiness-links" class="list-header">Export readiness</a>
            <ul id="export-readiness-links-list" aria-labelledby="export-readiness-links" class="navigation level-2">
              <li class="items-3"><a id="header-export-readiness-new" href="{{ header_footer_urls.new_to_exporting }}">I&#39;m new to exporting</a></li>
              <li class="items-3"><a id="header-export-readiness-occasional" href="{{ header_footer_urls.occasional_exporter }}">I export occasionally</a></li>
              <li class="items-3"><a id="header-export-readiness-regular" href="{{ header_footer_urls.regular_exporter }}">I&#39;m a regular exporter</a></li>
            </ul>
          </li>
          <li><a href="#guidance-links-list" id="header-guidance-links" class="list-header">Guidance</a>
            <ul id="guidance-links-list" aria-labelledby="header-guidance-links" class="navigation level-2">
              <li class="items-6"><a id="header-guidance-market-research" href="{{ header_footer_urls.guidance_market_research }}">Market research</a></li>
              <li class="items-6"><a id="header-guidance-customer-insight" href="{{ header_footer_urls.guidance_customer_insight }}">Customer insight</a></li>
              <li class="items-6"><a id="header-guidance-finance" href="{{ header_footer_urls.guidance_finance }}">Finance</a></li>
              <li class="items-6"><a id="header-guidance-business-planning" href="{{ header_footer_urls.guidance_business_planning }}">Business planning</a></li>
              <li class="items-6"><a id="header-guidance-getting-paid" href="{{ header_footer_urls.guidance_getting_paid }}">Getting paid</a></li>
              <li class="items-6"><a id="header-guidance-operations-and-compliance" href="{{ header_footer_urls.guidance_operations_and_compliance }}">Operations and compliance</a></li>
            </ul>
          </li>
          <li><a href="#services-links-list" id="header-services-links" class="list-header">Services</a>
            <ul id="services-links-list" aria-labelledby="header-services-links" class="navigation level-2">
              <li class="items-5"><a id="header-services-find-a-buyer" href="{{ header_footer_urls.services_fab }}">Create an export profile</a><span class="description">Get promoted internationally with a great.gov.uk trade profile</span></li>
              <li class="items-5"><a id="header-services-selling-online-overseas" href="{{ header_footer_urls.services_soo }}">Sell online overseas</a><span class="description">Find the right marketplace for your business and access special offers for sellers</span></li>
              <li class="items-5"><a id="header-services-export-opportunities" href="{{ header_footer_urls.services_exopps }}">Find export opportunities</a><span class="description">Find and apply for overseas opportunities</span></li>
              <li class="items-5"><a id="header-services-get-finance" href="{{ header_footer_urls.services_get_finance }}">Get finance</a><span class="description">Get the finance you need to compete and grow</span></li>
              <li class="items-5"><a id="header-services-events" href="{{ header_footer_urls.services_events }}">Attend events</a><span class="description">Sign up for networking events and trade missions</span></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
